@keyframes moving-shadow {
    0%, 50%, 100% {
        text-shadow: 0 0 40px rgba(255,255,255,.5);
    }
    25% {
        text-shadow: 5px 0 10px rgba(255,255,255,.5);
    }
    75% {
        text-shadow: -5px 0 10px rgba(255,255,255,.5);
    }
}

body {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    margin: 24px;
    font-family: 'Press Start 2P', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter .5s;
}

header {
    text-align: center;
    padding: 28px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: moving-shadow 15s infinite;
}

img {
    width: 100%;
    max-width: 410px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

nav {
    text-align: center;
    margin-top: 18px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-family: 'Press Start 2P', sans-serif;
    transition: color .3s ease;
    display: inline-block;
    text-shadow: 0 0 20px rgba(255,255,255,.5);
}

nav a:hover {
    color: rgb(27, 31, 250);
}

#entryButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 23px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 0 0 10px rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

#content {
    display: none;
}

.container {
    text-align: center;
}